<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="resources/css/tailwind.min.css">
  <link rel="stylesheet" href="resources/fontawesome-free-6.1.2-web/css/all.min.css">
  <link rel="stylesheet" href="resources/css/scroll.css">
  <link rel="stylesheet" href="resources/css/style.css">
</head>
<body class="min-h-100">

  <div class="icono">
    <p >Genera tus reportes <i class="fa-regular fa-face-smile"></i></p>
  </div>

  <section class="navegacion">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <img class="arimg" src="resources/img/arministries.png" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link home" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link dashboard" href="#">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="reportesDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Reportes
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/">Generar Reporte</a></li>
                <li><a class="dropdown-item" href="/vistasReportes">Listado de Reportes</a></li>
                <li><hr class="dropdown-divider"></li>
                <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
              </ul>
            </li>
            <li class="nav-item">
              <% if (user) { %>
              <a class="nav-link font-black usuario text-white" aria-disabled="true">Bienvenido: <%= user.user %></a>
              <% } %>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <a class="btn btn-outline-danger" href="logout">Cerrar Sesión</a>
          </form>
        </div>
      </div>
    </nav>
  </section>

  <div class="dark-light-mode_button switch no-print fixed-top">
    <div class="button__shadow">
        <i class="fa fa-solid fa-moon luna"></i>
        <i class="fa fa-solid fa-sun oculto sol"></i>
    </div>
  </div>

  <main class="container">
      <!-- <div class="circulo xxlarge sombra1"></div>
      <div class="circulo xlarge sombra2"></div>
      <div class="circulo large sombra3"></div>
      <div class="circulo medium sombra4"></div>
      <div class="circulo small sombra5"></div> -->
      <div class="fondo"></div>
      <div class="fondo fondo2"></div>
      <div class="fondo fondo3"></div>

      <div class="d-flex row justify-content-center container-cards">
        <div class="col-md-5 card no-print">
  
          <form id="formulario" class="formularioForm" action="registroEncuentro" method="post">
            <div class="title__form">
                <h2 class="fs-1 text-center mb-4">Registro <strong>Encuentro</strong></h2>
            </div>
            <div class="col">
            <select class="form-select form-select-lg mt-3 fs-6" aria-label="pastores-campus" id="pastoresCampus" name="pastoresCampus">
              <option selected value="">Pastores de Campus</option>
              <% pastoresCampus.forEach((pastor)=> { %>
              <option value="<%= pastor.nombre_pastor %> & <%= pastor.nombre_pastora %>"><%= pastor.nombre_pastor %> & <%= pastor.nombre_pastora %></option>
              <% }) %>
            </select>
            </div>
            <div class="col">
            <select class="form-select form-select-lg mt-3 fs-6" aria-label="ministrs-encargados" id="ministrosEncargados" name="ministrosEncargados">
              <option selected value="">Ministros Encargados</option>
              <% ministrosEncargados.forEach((ministro)=> { %>
              <option value="<%= ministro.nombre_ministro %> & <%= ministro.nombre_ministra %>"><%= ministro.nombre_ministro %> & <%= ministro.nombre_ministra %></option>
              <% }) %>
            </select>
            </div>
            <div class="col">
              <select class="form-select form-select-lg mt-3 fs-6" placeholder="Lideres de Voluntarios" id="lideresVoluntarios" name="lideresVoluntarios">
                <option selected value="">Líderes de Voluntariado</option>
                <% lideresVoluntarios.forEach((lider) => { %>
                  <% if (lider.nombre_lider_1.length > 0 && lider.nombre_lider_2 === '') { %>
                    <option value="<%= lider.nombre_lider_1 %>"><%= lider.nombre_lider_1 %></option>
                  <% } else { %>
                    <option value="<%= lider.nombre_lider_1 %> & <%= lider.nombre_lider_2 %>"><%= lider.nombre_lider_1 %> & <%= lider.nombre_lider_2 %></option>
                  <% } %>
                <% }) %>
              </select>
              
            </div>
            <div class="row g-3">
              <div class="col">
                <label for="floatingInput">Fecha</label>
                <input type="date" class="form-control form-control-lg fs-6" placeholder="Fecha" aria-label="date" id="fecha" name="fecha">
              </div>
              <div class="col">
                <label for="floatingInput">Hora</label>
                <input type="time" class="form-control form-control-lg fs-6" placeholder="Hora" aria-label="time" id="hora" name="hora">
              </div>
            </div>
            <div class="col">
            <select class="form-select form-select-lg mt-3 fs-6" aria-label="modalidad" id="modalidad" name="modalidad">
              <option selected value="">Modalidad</option>
              <option value="Presencial">Presencial</option>
              <option value="Virtual">Virtual</option>
            </select>
            </div>
            <div class="col">
            <select class="form-select form-select-lg mt-3 fs-6" aria-label="campus" id="campus" name="campus">
              <option selected value=""> Campus</option>
              <% campus.forEach((campus)=> { %>
              <option value="<%= campus.nombre_campus %>"><%= campus.nombre_campus %>, <%= campus.pais_campus %></option>
              <% }) %>
            </select>
            </div>
            <hr>
            <h3 class="mt-4">Asistencia</h3>
            <div class="row g-3">
              <div class="col-4">
                <input type="number" class="form-control form-control-lg fs-6" placeholder="Adultos" aria-label="adultos" id="adultos" name="adultos">
              </div>
              <div class="col-4">
                <input type="number" class="form-control form-control-lg fs-6" placeholder="Kids" aria-label="kids" id="kids" name="kids">
              </div>
              <div class="col-4">
                <input type="number" class="form-control form-control-lg fs-6" placeholder="Tweens" aria-label="tweens" id="tweens" name="tweens">
              </div>
            </div>
            <hr>
            <h3>Voluntarios</h3>
            <div class="row g-3">
              <div class="col-4">
                <input type="number" class="form-control form-control-lg fs-6" placeholder="Servicio" id="servicioVoluntarios" name="servicioVoluntarios">
              </div>
              <div class="col-4">
                <input type="number" class="form-control form-control-lg fs-6" placeholder="Técnica" id="tecnicaVoluntarios" name="tecnicaVoluntarios">
              </div>
              <div class="col-4">
                <input type="number" class="form-control form-control-lg fs-6" placeholder="Kids" id="kidsVoluntarios" name="kidsVoluntarios">
              </div>
              <div class="col-4">
                <input type="number" class="form-control form-control-lg fs-6" placeholder="Tweens"  id="tweensVoluntarios" name="tweensVoluntarios">
              </div>
              <div class="col-4">
                <input type="number" class="form-control form-control-lg fs-6" placeholder="Worship"  id="worshipVoluntarios" name="worshipVoluntarios">
              </div>
              <div class="col-4">
                <input type="number" class="form-control form-control-lg fs-6" placeholder="Cocina"  id="cocinaVoluntarios" name="cocinaVoluntarios">
              </div>
              <div class="col-4">
                <input type="number" class="form-control form-control-lg fs-6" placeholder="Redes Sociales" aria-label="redes-sociales-voluntarios" id="redesSocialesVoluntarios" name="redesSocialesVoluntarios">
              </div>
              <div class="col-4">
                <input type="number" class="form-control form-control-lg fs-6" placeholder="Seguridad" aria-label="seguridad-voluntarios" id="seguridadVoluntarios" name="seguridadVoluntarios">
              </div>
              <div class="col-4">
                <input type="number" class="form-control form-control-lg fs-6" placeholder="Sala de Bebés" id="salaBebesVoluntarios" name="salaBebesVoluntarios">
              </div>
            </div>
            <hr>
            <h3>Stand</h3>
            <div class="row g-3">
              <div class="col-4">
                <input type="number" class="form-control form-control-lg fs-6" placeholder="Info" id="infoVoluntarios" name="infoVoluntarios">
              </div>
              <div class="col-4">
                <input type="number" class="form-control form-control-lg fs-6" placeholder="Oración" id="oracionVoluntarios" name="oracionVoluntarios">
              </div>
              <div class="col-4">
                <input type="number" class="form-control form-control-lg fs-6" placeholder="Recursos" id="recursosVoluntarios" name="recursosVoluntarios">
              </div>
              <div class="col-6">
                <input type="number" class="form-control form-control-lg fs-6" placeholder="Amor por la casa"  id="amorPorLaCasaVoluntarios" name="amorPorLaCasaVoluntarios">
              </div>
              <div class="col-6">
                <input type="number" class="form-control form-control-lg fs-6" placeholder="Proyecto Educativo" id="proyectoEducativoVoluntarios" name="proyectoEducativoVoluntarios">
              </div>
              <hr>
            </div>
            <h3>Total General</h3>
            <div class="row">
              <div class="col-12">
                <button class="btn w-100 btn-calcular fs-4" id="calcular" type="button">Calcular</button>
                <input type="number" class="form-control form-control-lg mb-3 fs-6" placeholder="Total General" aria-label="totalAsistentes" id="totalAsistentes" name="totalAsistentes">
              </div>
            </div>
            <hr>
            <h3>Acepta a Jesús</h3>
            <div class="row">
              <div class="col-4">
                <input type="number" class="form-control form-control-lg mb-3 fs-6" placeholder="Presencial" aria-label="acepta-presencial" id="aceptaPresencial" name="aceptaPresencial">
              </div>
              <div class="col-4">
                <input type="number" class="form-control form-control-lg mb-3 fs-6" placeholder="Online" aria-label="acepta-online" id="aceptaOnline" name="aceptaOnline">
              </div>
              <div class="col-4">
                <input type="number" class="form-control form-control-lg mb-3 fs-6" placeholder="Tweens" aria-label="acepta-tweens" id="aceptaTweens" name="aceptaTweens">
              </div>
              <hr>
              <h3>Total de personas que aceptaron a Jesús</h3>
                <div class="col-12">
                  <button class="btn w-100 btn-calcular fs-4" id="calcularAJ" type="button">Calcular</button>
                  <input type="number" class="form-control form-control-lg mb-3 fs-6" placeholder="Total que aceptó a Jesús" aria-label="totalAJ" id="totalAJ" name="totalAJ">
                </div>
            </div>
            <hr>
            <div class="col">
              <h3>Nombre predicador</h3>
              <select class="form-select form-select-lg fs-6" aria-label="predicador" placeholder="Predicador" id="nombrePredicador" name="nombrePredicador">
                <option selected value="">Predicadores</option>
                <% predicadores.forEach((predicador)=> { %>
                <option value="<%= predicador.rol %> - <%= predicador.nombre_predicador %> - <%= predicador.apellido_predicador %>"><%= predicador.rol %> <%= predicador.nombre_predicador %> <%= predicador.apellido_predicador %></option>
                <% }) %>
              </select>
            </div>
            <div class="row">
              <div class="col-12 mt-3">
                <h3>Nombre del Mensaje</h3>
                <input type="text" class="form-control form-control-lg fs-6" placeholder="Mensaje" aria-label="mensaje" id="nombreMensaje" name="nombreMensaje">
              </div>
            </div>
            <hr>
            <h3>Observaciones</h3>
            <div class="form-floating mb-5">
              <textarea class="form-control fs-6" placeholder="observaciones" style="height: 100px; padding: 2.5rem 1rem; font-size: 12px;" id="observaciones" name="observaciones"></textarea>
              <label for="floatingTextarea2" class="fs-6">Observaciones</label>
            </div>
  
            <div class="mb-5 d-flex w-100">
              <button class="btn w-50 btn-enviar mb-5" type="submit" id="registrar" disabled>Registrar y Generar PDF</button>
              <button class="w-50 btn ms-2 btn-resetear mb-5" id='reset' type="reset">Reset</button>
            </div>
          </form>
        </div>
  
  
      </div>


  </main>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="resources/js/modal.js"></script>
  <script src="resources/js/validaciones.js"></script>
  <script src="resources/js/darkMode.js"></script>
</body>
</html>
